<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <header>
      <% include ../partials/header.ejs %>
    </header>
    <main>
      <h2>New Project</h2>
      <form>
        <label for="projectName">Project Name</label>
        <input type="text" name="projectName" placeholder="Flying Cars"/>
        <label for="projectIdea">What are you making?</label>
        <input type="text" name="projectIdea" placeholder="A Flying Car"/>
        <label for="projectProblem">What problem are you solving?</label>
        <input type="text" name="projectProblem" placeholder="Traffice in Big Cities"/>
        <label for="projectLocation">Location</label>
        <input type="text" name="projectLocation" placeholder="New York"/>
        <label for="websiteURL"></label>
      </form>
    </main>
    <footer>
      <% include ../partials/footer.ejs %>
    </footer>
  </body>
</html>
