<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Invision</title>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans&display=swap" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"></script>
    <script src="../../src/modal/modal.js"></script>
  </head>
  <body>
    <header>
      <% include ../partials/header.ejs %>
    </header>
    <main>
      <div class="central">
        <h1>OSP is for<br />dreamers and doers.</h1>
        <div class="boxContainer">
          <div id="box1">
            <h3>1. Add your project or idea</h3>
            <br />
            <p>Any stage from idea to existing products or services are all welcome!</p>
            <button id="newPrBtn">Create Your Project</button>
          </div>
          <div id="box2">
            <h3>2. Discover and Share</h3>
            <br />
            <p>Share your project or discover other projects. Join in innovation.</p>
          </div>
          <div id="box3">
            <h3>3. Create with others</h3>
            <br />
            <p>Get help on your project or join others in their projects. We give you all the tools you need to get started.</p>
          </div>
          <div id="box4">
            <h3>4. Continued Help and Support</h3>
            <br />
            <p>We offer all the support one can ask for. Message us anytime and we will work to solve and address your issues and needs.</p>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <% include ../partials/footer.ejs %>
    </footer>
  </body>
</html>
