<div class="footerCol">
  <div class="col">
    <div class="colHead">
      <h3 class="colHeadTitle">How It Works</h3>
    </div>
    <div class="footerLinks">
      <ul>
        <li class="list-item"><a href="#">Tour</a></li>
        <li class="list-item"><a href="#">Tools</a></li>
      </ul>
    </div>
  </div>
  <div class="col">
    <div class="colHead">
      <h3 class="colHeadTitle">Pricing</h3>
    </div>
    <div class="footerLinks">
      <ul>
        <li class="list-item"><a href="#">Free</a></li>
        <li class="list-item"><a href="#">Private</a></li>
      </ul>
    </div>
  </div>
  <div class="col">
    <div class="colHead">
      <h3 class="colHeadTitle">Discover</h3>
    </div>
    <div class="footerLinks">
      <ul>
        <li class="list-item"><a href="#">New Projects</a></li>
      </ul>
    </div>
  </div>
  <div class="col">
    <div class="colHead">
      <h3 class="colHeadTitle">About</h3>
    </div>
    <div class="footerLinks">
      <ul>
        <li class="list-item"><a href="#">Our Mission</a></li>
        <li class="list-item"><a href="#">Contact Us</a></li>
        <li class="list-item"><a href="#">Jobs</a></li>
      </ul>
    </div>
  </div>
  <div class="col">
    <div class="colHead">
      <h3 class="colHeadTitle">Support</h3>
    </div>
    <div class="footerLinks">
      <ul>
        <li class="list-item"><a href="#">FAQ</a></li>
        <li class="list-item"><a href="#">Help Center</a></li>
        <li class="list-item"><a href="#">Chat</a></li>
        <li class="list-item"><a href="#">Give Feedback</a></li>
      </ul>
    </div>
  </div>
</div>
