<div class="footContainer">
  <div class="footerLinks">
    <div class="footerLinksCol">
      <h4>how it works</h4>
      <ul>
        <li><a href="#">tour</a></li>
        <li><a href="#">tools</a></li>
      </ul>
    </div>
    <div class="footerLinksCol">
      <h4>pricing</h4>
      <ul>
        <li><a href="#">free</a></li>
        <li><a href="#">private</a></li>
      </ul>
    </div>
    <div class="footerLinksCol">
      <h4>discover</h4>
      <ul>
        <li><a href="#">new projects</a></li>
      </ul>
    </div>
    <div class="footerLinksCol">
      <h4>about</h4>
      <ul>
        <li><a href="#">our mission</a></li>
        <li><a href="#">contact us</a></li>
        <li><a href="#">jobs</a></li>
      </ul>
    </div>
    <div class="footerLinksCol">
      <h4>support</h4>
      <ul>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">help center</a></li>
        <li><a href="#">chat</a></li>
        <li><a href="#">give feedback</a></li>
      </ul>
    </div>
  </div>
  <div class="copyright">
    <h6>© Open System Project 2018</h6>
  </div>
</div>
