<div class="titleBox">
  <img src="../assets/logotitle.png" alt="Logo Title"/>
</div>
<div class="nav">
  <ul class="menu1">
    <li><a href="/directory/how-it-works">How It Works</a></li>
    <li><a href="/directory/discover">Discover</a></li>
    <li><a href="/directory/about">About</a></li>
  </ul>
</div>
<div class="nav2">
  <a href="#"><div id="magnifying-glass"></div></a>
  <a href="#" id="login"><h3>Sign In</h3></a>
  <div id="rNavStart">
    <div class="halfCircleLeft"></div><a href="#" id="startNow"><h3>Start Now</h3></a><div class="halfCircleRight"></div>
  </div>
</div>
