<div class="headContainer">
  <div class="logo">
    <!-- <img src="../assets/logotitle.png" alt="Logo Title"/> -->
    <h1>TheBase</h1>
  </div>
  <div class="nav">
    <ul class="navMenu">
      <li><a href="/directory/how-it-works">how it works</a></li>
      <li><a href="/directory/discover">discover</a></li>
      <li><a href="/directory/about">about</a></li>
    </ul>
  </div>
  <div class="loginMenu">
    <div class="loginDiv">
        <a href="#"><div id="magnifying-glass"></div></a>
    </div>
    <div class="loginDiv">
      <a href="/sessions/login" id="loginClick"><h3>sign in</h3></a>
        <div id="loginModal">
          <% include ../sessions/new.ejs %>
        </div>
    </div>
    <div class="loginDiv">
      <a href="/users/new" id="registerClick"><h3 id="startNow">start now</h3></a>
        <div id="registerModal">
          <% include ../users/new.ejs %>
        </div>
    </div>
  </div>
</div>
