<div class="titleBox">
  <img src="../assets/logotitle.png" alt="Logo Title"/>
</div>
<div class="nav">
  <ul class="menu1">
    <li>
      <a href="#" id="menuTitle"><img src="../assets/arrow23-512.png" /></a>
      <ul class="subMenu1">
        <li><a href="#">How It Works</a></li>
        <li><a href="#">Discover</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </li>
  </ul>
</div>
<div class="nav2">
  <a href="#"><img src="#" alt="Search Button"/></a>
  <a href="#"><h3 id="login">Sign In</h3></a>
  <div id="rNavStart">
    <a href="#"><h3 id="startNow">Start Now</h3></a>
  </div>
</div>
