<div class="headSrContainer">
  <div class="centralHeader">
    <h1>WHERE THE WORLD CREATES</h1>
    <h1>AND BIG IDEAS GROW.</h1>
  </div>
  <div class="subCentralHeader">
    <h2>Talent is universal and evenly distributed.</h2>
    <h2>Opportunities aren't. Help us change that.</h2>
  </div>
  <div class="searchBar">
    <input type="text" placeholder="Search for a new project"/>
  </div>
</div>
<div class="elementContainer">
  <div class="nav3">
    <a href="#"><h4 id="navAll">All</h4></a>
    <a href="#"><h4 id="mostView">Most Viewed</h4></a>
    <a href="#"><h4 id="mostAppr">Most Appreciated</h4></a>
    <a href="#"><h4 id="mostRec">Most Recent</h4></a>
    <a href="#"><h4 id="featured">Featured</h4></a>
  </div>
  <div class="card">
  </div>
</div>
