<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <!-- ====== HEADER ====== -->
    <header>
      <% include ./partials/header.ejs %>
    </header>
      <!-- ======= MAIN ======= -->
      <div class="container">
        <main>
          <!--Main Container houses all homepage content for users -->
          <div class="mainContainer">
            <% include ./partials/main.ejs %>
          </div>
        </main>
      </div>
      <!-- ====== FOOTER ====== -->
      <footer>
        <% include ./partials/footer.ejs %>
      </footer>
  </body>
</html>
