<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <!-- ====== HEADER ====== -->
    <header>
      <% include ./partials/header.ejs %>
    </header>
      <!-- ======= MAIN ======= -->
      <div class="container">
        <main>
          <!--This Modal box was put in as a way of showing up if the user wasn't logged in. However, there is also, in the mockup, a sign in button in the header. The modal box may be unnecessary but could be changed to something else -->
          <div class="modalBox">
            <div class="loginArea">
              <% if(currentUser) { %>
                <h1>Welcome, <%=currentUser.username%>.</h1><br />
                <a href="/app"><button class="btn">Enter 'The Base'</button></a><br />
                <form action="/sessions?_method=DELETE" method="POST">
                  <input class="btn" id="logOut" type="submit" value="Sign Out"/>
                </form>
              <% } else { %>
                <h1> Welcome to 'The Base'. Please sign-in to continue... </h1>
                <a href="./sessions/new"><button class="btn">Login</button></a>
                <br />
                <h3> Don't have an account with us? Let's fix that...</h3>
                <a href="./users/new"><button class="btn">Register</button></a>
                <br />
              <% } %>
            </div>
          </div>
          <!--Main Container houses all homepage content for users -->
          <div class="mainContainer">
            <% include ./partials/main.ejs %>
          </div>
        </main>
      </div>
      <!-- ====== FOOTER ====== -->
      <footer>
        <% include ./partials/footer.ejs %>
      </footer>
      <div class="copyright">
        <h6 id="copyrightText">© Open System Project 2018</h6>
      </div>
  </body>
</html>
