<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <% include ../partials/header.ejs %>
    <div class="ctrMessage">
      <h1>This section is currently unavailable</h1>
      <h3>Don't worry...we are working hard to provide you more tools and resources to build your projects and raise support and awareness.</h3>
      <h5>Click <a href="<% ../index.ejs%>">HERE</a> to return to the homepage</h5>
    </div>
  </body>
</html>
